__pycache__/
.cache/
.docker/
.dotnet/
.git/
.local/
.ssh/
.vscode-server/
controllers/__pycache__/
database/__pycache__/
routes/__pycache__/
.bash_history
.bash_logout
.bash_profile
.bashrc
.dockerignore
.git-credentials
.gitconfig
.lesshst
.wget-hsts
keys.py